.layout-topbar {
    display: flex;
justify-content: flex-start;
align-content: baseline;
  position: fixed;
  height: 65px;
  padding: .9em 1.5em 0.9em 1.5em;
  color: #ffffff;
  z-index: 1000;

  right: 0;
  box-shadow: 0 2px 15px -6px #777; 
  @include clearfix();
  @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
  @include transition(left $transitionDuration);
    
  .layout-heading {
      flex-grow: 0;
      padding: 0;
    order: 3;
        color: $topbarItemColor;
       
    
    }
    p {
        margin-left: 2vw;
        
        font-weight: bold;
        color: green;
        font-size: 30px;
        margin-top: 0%;
    }
    .pcampus {
        order: 2;
        margin-top: -7px;
    
 
    
    }

   

  .layout-topbar-icons {
      flex-grow: 2;
   
      text-align: right;
      outline: none;
   order: 4;
      display: inline-block;
      -moz-animation-duration: .5s;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;

      button {
      
          color: $topbarItemColor;
          margin-left: 20px;
      
          text-decoration: none;
          @include transition(color $transitionDuration);
          overflow: visible;

          &:hover {
              color: $topbarItemHoverColor;
          }

          span {
              &.layout-topbar-icon {
                  font-size: 2em;
              }

              &.layout-topbar-item-text {
                  font-size: 20px;
                  display: none;
              }

              &.layout-topbar-badge {
                  position: absolute;
                  font-size: 10px;
                  right: -5px;
                  top: -5px;
                  width: 16px;
                  height: 16px;
                  text-align: center;
                  line-height: 16px;
                  color: $topbarItemBadgeColor;
                  background-color: $topbarItemBadgeBgColor;
                  @include border-radius(50%);
              }
          }
      }
  }

  .layout-menu-button {
      cursor: pointer;
      outline: none;
      order: 1;
    
      text-decoration: none;
      color: $topbarItemColor;
      @include transition(color $transitionDuration);

      span {
          font-size: 2em;
      }

      &:hover {
          color: $topbarItemHoverColor;
      }
  }

  button {
      cursor: pointer;
  }
}
